<div style="display:flex; justify-content:center; align-items:center; flex-direction:column;">
    <h1>IronMan</h1>
    <p>This is the home screen</p>
    <div>
        <%= button_to "Create Account", new_users_path%>
    </div>
    <h5>version 0.3</h5>
</div>